.pic1 {
    height: 670px;
    width: 485px;

}

body {
    background-color: #1F6E8C;
    color: white;
    /* background-image: linear-gradient(to top, #000205, #3b3c3e, #777879, #b9b9ba, #ffffff); */
}


.name {
    margin-top: 10%;
    text-align: center;
    padding-left: 1%;
}

.bg-black {
    background-color: #000;
}

#logo {
    width: 30px;
    height: 30px;
    border-radius: 4px;
}

.navbar-brand {
    padding: 14px 20px;
    font-size: 16px;
}

.navbar-nav {
    width: 100%;
}

.nav-item {
    padding: 6px 14px;
    text-align: center;
}

.nav-link {
    padding-bottom: 10px;
}

.v-line {
    background-color: gray;
    width: 1px;
    height: 20px;
}

.navbar-collapse.collapse.in {
    display: block !important;
}

@media (max-width: 576px) {
    .nav-item {
        width: 100%;
        text-align: left;
    }

    .v-line {
        display: none;
    }
}


hr.new1 {
    border: 1px solid white;
}

.sanmay {
    color: #0E2954;
    font-weight: 600;
}


.fot {
    margin-top: 5%;
    background-color: #E3F4F4;
    color: #1F6E8C;
    padding: 2%;
}

form {
    padding: 5%
}

@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
    --glow-color: #1F6E8C;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}



.glowing-btn {
    position: relative;
    color: var(--glow-color);
    cursor: pointer;
    padding: 0.35em 1em;
    border: 0.15em solid var(--glow-color);
    border-radius: 0.45em;
    background: none;
    perspective: 2em;
    font-family: "Raleway", sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 0.6em;


    -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
    -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
    box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
    animation: border-flicker 2s linear infinite;
}

.glowing-txt {
    float: left;
    margin-right: -0.8em;
    -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
        0 0 0.45em var(--glow-color);
    -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
        0 0 0.45em var(--glow-color);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
    animation: text-flicker 3s linear infinite;
}

.faulty-letter {
    opacity: 0.5;
    animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    filter: blur(1em);
    transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
    background: var(--glow-color);
    pointer-events: none;
}

.glowing-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: var(--glow-color);
    box-shadow: 0 0 2em 0.2em var(--glow-color);
    transition: opacity 100ms linear;
}

.glowing-btn:hover {
    color: white;
    text-shadow: none;
    animation: none;
}

.glowing-btn:hover .glowing-txt {
    animation: none;
}

.glowing-btn:hover .faulty-letter {
    animation: none;
    text-shadow: none;
    opacity: 1;
}

.glowing-btn:hover:before {
    filter: blur(1.5em);
    opacity: 1;
}

.glowing-btn:hover:after {
    opacity: 1;
}

@keyframes faulty-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 0.1;
    }

    4% {
        opacity: 0.5;
    }

    19% {
        opacity: 0.5;
    }

    21% {
        opacity: 0.1;
    }

    23% {
        opacity: 1;
    }

    80% {
        opacity: 0.5;
    }

    83% {
        opacity: 0.4;
    }

    87% {
        opacity: 1;
    }
}

@keyframes text-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 1;
    }

    8% {
        opacity: 0.1;
    }

    9% {
        opacity: 1;
    }

    12% {
        opacity: 0.1;
    }

    20% {
        opacity: 1;
    }

    25% {
        opacity: 0.3;
    }

    30% {
        opacity: 1;
    }

    70% {
        opacity: 0.7;
    }

    72% {
        opacity: 0.2;
    }

    77% {
        opacity: 0.9;
    }

    100% {
        opacity: 0.9;
    }
}

@keyframes border-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 1;
    }

    4% {
        opacity: 0.1;
    }

    8% {
        opacity: 1;
    }

    70% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    .glowing-btn {
        font-size: 1em;
    }
}




@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}



input[type=radio] {
    display: none;
}

.card {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform 0.4s ease;
    cursor: pointer;
    padding: 15px;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    color: #1F6E8C;
    overflow-y: scroll;
}

.card h4 {
    color: #0E2954;
}


.con-card {
    width: 100%;
    max-width: 800px;
    max-height: 600px;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cards {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}


#item-1:checked~.cards #song-3,
#item-2:checked~.cards #song-1,
#item-3:checked~.cards #song-2 {
    transform: translatex(-40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

#item-1:checked~.cards #song-2,
#item-2:checked~.cards #song-3,
#item-3:checked~.cards #song-1 {
    transform: translatex(40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

#item-1:checked~.cards #song-1,
#item-2:checked~.cards #song-2,
#item-3:checked~.cards #song-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
}

#item-1:checked~.cards #song-1 img,
#item-2:checked~.cards #song-2 img,
#item-3:checked~.cards #song-3 img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}

.player {
    background-color: #fff;
    border-radius: 8px;
    min-width: 300px;
    height: 50px;
    padding: 16px 10px;
    text-align: center;
}

.upper-part {
    position: relative;
    display: flex;
    align-items: center;

    height: 36px;
    overflow: hidden;
}



.song-info {
    width: calc(100% - 32px);
    display: block;
}

.song-info .title {
    color: #403d40;
    font-size: 14px;
    line-height: 30px;
}

.info-area {
    width: 100%;
    position: absolute;
    top: 0;
    transition: transform 0.4s ease-in;
    font-size: 20px;

}

#item-2:checked~.player #test {
    transform: translateY(0);
}

#item-2:checked~.player #test {
    transform: translateY(-40px);
}

#item-3:checked~.player #test {
    transform: translateY(-80px);

}

.intro {

    background-color: #0d0a0b;
    background-image: linear-gradient(315deg, black 0%, #1F6E8C 79%);
    font-family: sans-serif;
    padding-top: 5%;

}

.row {
    width: 100%;
}

.about {

    left: 0;
    right: 0;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: #1F6E8C;

}




.location {

    color: gray;
    float: right
}

.year {
    color: gray;
}

.Bachelors {
    margin-top: 5%;
}

@-webkit-keyframes slidein {
    0% {
        top: -400px;
        opacity: 0;
    }

    100% {
        opacity: 1;
        top: 0px;
    }
}

@keyframes slidein {
    0% {
        top: -400px;
        opacity: 0;
    }

    100% {
        opacity: 1;
        top: 0px;
    }
}

@-webkit-keyframes slideout {
    0% {
        top: 0;
        opacity: 1;
    }

    100% {
        top: -400px;
        opacity: 0;
    }
}

@keyframes slideout {
    0% {
        top: 0;
        opacity: 1;
    }

    100% {
        top: -400px;
        opacity: 0;
    }
}

.parent {
    position: relative;
}

.pro {
    margin-left: 6%;
    margin-top: 6%;
    margin-bottom: 2%;
}

.pro1 {
    margin-left: 6%;
    width: 90%;
}

#scene {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 90%;
    height: 100%;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    overflow: hidden;
    color: #000;
    margin-left: 6%;
    margin-top: 5%;
}

#left-zone {
    height: 75%;
    flex-grow: 0;
    display: flex;
    width: 35%;
    align-items: center;
    justify-content: left;
}

.list {
    display: flex;
    list-style: none;
    align-content: stretch;
    flex-direction: column;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5
}

input[type=radio] {
    display: none;
}

input[type=radio]~label {
    display: block;
    opacity: 0.5;
    height: 12%;
    text-align: center;
    line-height: 50px;
}

input[type=radio]~label:first-letter {
    text-transform: uppercase;
}

input[type=radio]~label:hover {
    opacity: 0.75;
    cursor: pointer;
}


.content {
    position: absolute;
    left: 35%;
    top: -900px;
    width: 75%;
    height: 100%;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-name: slideout;
    animation-name: slideout;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #E3F4F4;
    color: #1F6E8C;
    overflow-x: scroll;
    overflow-y: scroll;

}

.content h1:first-letter {
    text-transform: uppercase;
}

.content p {
    max-width: 50%;
    text-align: center;
}

input[type=radio]:checked~label {
    opacity: 1;
    -webkit-animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

input[type=radio]:checked~label.label_strawberry {
    color: #000000;
    border-right: solid 4px #000000;
}

input[type=radio]:checked~label.label_banana {
    color: #000000;
    border-right: solid 4px #000000;
}

input[type=radio]:checked~label.label_apple {
    color: #000000;
    border-right: solid 4px #000000;
}

input[type=radio]:checked~label.label_orange {
    color: #000000;
    border-right: solid 4px #000000;
}

input[type=radio]:checked~.content {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-name: slidein;
    animation-name: slidein;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

#middle-border {
    background-color: #eee;
    height: 75%;
    flex-grow: 1;
    max-width: 1%;
    z-index: 0;
}

#right-zone {
    background: #fff;
    height: 100%;
    flex-grow: 3;

}

.social {

    padding-bottom: 3%;
    background-color: #000;
    text-align: center;
}

.link {
    color: white;
    margin-top: 4%;
}

.sc {
    padding-top: 5%;
}

.link :hover {
    color: rgb(174, 160, 160);
}

.button-88 {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;

    background-color: #f9fcff;
    background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    letter-spacing: 0.05em;
    border-radius: 20em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    float: right;
    color: #0E2954;
    margin-top: 10%;
    margin-right: 4%;
}

.button-88 .link {
    color: #0E2954;
}

.button-88:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.button-88:active {
    box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}



.art {
    max-width: 60%;
    margin-top: 100px;
    margin-bottom: 10%;
    margin-left: 20%;

}

.art .carousel {
    display: block;
    text-align: left;
    position: relative;
    margin-bottom: 22px;
}

.art .carousel>input {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.carousel>input:nth-of-type(6):checked~.carousel__slides .carousel__slide:first-of-type {
    margin-left: -500%;
}

.carousel>input:nth-of-type(5):checked~.carousel__slides .carousel__slide:first-of-type {
    margin-left: -400%;
}

.carousel>input:nth-of-type(4):checked~.carousel__slides .carousel__slide:first-of-type {
    margin-left: -300%;
}

.carousel>input:nth-of-type(3):checked~.carousel__slides .carousel__slide:first-of-type {
    margin-left: -200%;
}

.carousel>input:nth-of-type(2):checked~.carousel__slides .carousel__slide:first-of-type {
    margin-left: -100%;
}

.carousel>input:nth-of-type(1):checked~.carousel__slides .carousel__slide:first-of-type {
    margin-left: 0%;
}

.carousel>input:nth-of-type(1):checked~.carousel__thumbnails li:nth-of-type(1) {
    box-shadow: 0px 0px 0px 5px rgb(255, 255, 255);
}

.carousel>input:nth-of-type(2):checked~.carousel__thumbnails li:nth-of-type(2) {
    box-shadow: 0px 0px 0px 5px rgb(255, 255, 255);
}

.carousel>input:nth-of-type(3):checked~.carousel__thumbnails li:nth-of-type(3) {
    box-shadow: 0px 0px 0px 5px rgb(255, 255, 255);
}

.carousel>input:nth-of-type(4):checked~.carousel__thumbnails li:nth-of-type(4) {
    box-shadow: 0px 0px 0px 5px rgb(255, 255, 255);
}

.carousel>input:nth-of-type(5):checked~.carousel__thumbnails li:nth-of-type(5) {
    box-shadow: 0px 0px 0px 5px rgb(255, 255, 255);
}

.carousel>input:nth-of-type(6):checked~.carousel__thumbnails li:nth-of-type(6) {
    box-shadow: 0px 0px 0px 5px rgb(255, 255, 255);
}

.carousel__slides {
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    display: flex;
}

.carousel__slide {
    position: relative;
    display: block;
    flex: 1 0 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 300ms ease-out;
    box-sizing: border-box;
    white-space: normal;
}

.carousel__slide figure {
    display: flex;
    margin: 0;
}

.carousel__slide div {
    position: relative;
    width: 100%;
}

.carousel__slide div:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 66.6666666667%;
}

.carousel__slide div>img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 65%;
    height: 100%;
    margin-left: 17%;
}

.carousel__slide img {
    display: block;
    flex: 1 1 auto;
    object-fit: cover;
}

.carousel__slide figcaption {
    align-self: flex-end;
    padding: 20px 20px 0 20px;
    flex: 0 0 auto;
    width: 25%;
    min-width: 150px;
}

.carousel__slide .credit {
    margin-top: 1rem;
    color: rgba(0, 0, 0, 0.5);
    display: block;
}

.carousel__slide.scrollable {
    overflow-y: scroll;
}

.carousel__thumbnails {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin: 0 -10px;
}

.carousel__slides+.carousel__thumbnails {
    margin-top: 20px;
}

.carousel__thumbnails li {
    flex: 1 1 auto;
    max-width: calc((100% / 6) - 20px);
    margin: 0 10px;
    transition: all 300ms ease-in-out;
}

.carousel__thumbnails label {
    display: block;
    position: relative;
}

.carousel__thumbnails label:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 100%;
}

.carousel__thumbnails label>img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.carousel__thumbnails label:hover,
.carousel__thumbnails label:focus {
    cursor: pointer;
}

.carousel__thumbnails label:hover img,
.carousel__thumbnails label:focus img {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
    transition: all 300ms ease-in-out;
}

.carousel__thumbnails img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}